html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

body {
    --teal: #26C9C3;
    --indigo: #191349;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    background: #efefef;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.input-password {
    background-color: var(--teal);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    max-width: 500px;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    padding: 20px;
    transition: all 0.3s ease-in-out;

    &.show-password {
        transition: all 0.3s ease-in-out;
        background-color: var(--indigo);

        .input-password__lock-icon {
            svg {
                fill: var(--teal);
            }
        }

        .input-password__input {
            color: white;
        }
    }
}

.input-password__lock-icon {
    padding-right: 15px;
    border-right: 1px solid #fff;

    svg {
        width: 50px;
        height: 50px;
        fill: var(--indigo);
    }
}

.input-password__input {
    border: none;
    background-color: transparent;
    color: var(--indigo);
    font-size: 24px;
    font-family: monospace;
    width: 100%;
    outline: none;
}

.input-password__toggle {
    border: none;
    border-radius: 50%;
    padding: 10px;
    background-color: var(--indigo);
    cursor: pointer;

    svg {
        width: 50px;
        height: 50px;
    }
}
